<div id="side_nav">
  <ol>
    <li><a href="/category/1">Film</a></li>
    <li><a href="/category/2">Actor</a></li>
    <li><a href="/category/3">Actress</a></li>
    <li><a href="/category/4">Supporting Actor</a></li>
    <li><a href="/category/5">Supporting Actress</a></li>
    <li><a href="/category/6">Director</a></li>
    <li><a href="/category/7">Cinematography</a></li>
    <li><a href="/category/8">Costume Design</a></li>
    <li><a href="/category/9">Animated Film</a></li>
    <li><a href="/category/10">Documentary Feature</a></li>
    <li><a href="/category/11">Documentary Short</a></li>
    <li><a href="/category/12">Film Editing</a></li>
    <li><a href="/category/13">Foreign Language</a></li>
    <li><a href="/category/14">Makeup</a></li>
    <li><a href="/category/15">Original Score</a></li>
    <li><a href="/category/16">Original Song</a></li>
    <li><a href="/category/17">Production Design</a></li>
    <li><a href="/category/18">Animated Short</a></li>
    <li><a href="/category/19">Live Action Short</a></li>
    <li><a href="/category/20">Sound Editing</a></li>
    <li><a href="/category/21">Sound Mixing</a></li>
    <li><a href="/category/22">Visual Effects</a></li>
    <li><a href="/category/23">Adapted Screenplay</a></li>
    <li><a href="/category/24">Original Screenplay</a></li>
  </ol>
</div>