<div class="small-12 columns">
  <h3>Previous winners</h3>
  <div class="row">
    <h4>2014</h4>
    <div class="columns small-6">
      <img class="history" src="/img/history/google-sheets.png" alt="Google Sheets" />    
    </div>
    <div class="columns small-6">
      <ol>
        <li>Karen <strong>21 points</strong></li>
        <li>Tav <strong>20 points</strong></li>
        <li>Ohs! <strong>19 points</strong></li>
      </ol>    
    </div>
  </div>

  <div class="row">
    <h4>2015</h4>
    <div class="columns small-6">
      <img class="history" src="/img/history/screenshot-2015.png" alt="2nd awards screenshot" />
    </div>
    <div class="columns small-6">       
      <ol>
        <li>Tav <strong>19 points</strong></li>
        <li>Karen <strong>14 points</strong></li>
        <li>Ohs! <strong>14 points</strong></li>
      </ol>  
    </div>
  </div>

  <div class="row">
    <h4>2016</h4>
    <div class="columns small-6">
      <img class="history" src="/img/history/screenshot-2016.png" alt="3rd awards screenshot" />      
    </div>
    <div class="columns small-6">
      <ol>
        <li>Karen <strong>48 points</strong></li>
        <li>Tav <strong>47 points</strong></li>
        <li>JamesR <strong>46 points</strong></li>
      </ol> 
    </div>
  </div>

</div>