<div class="columns">

  <h3>Predict the Academy Award Winners</h3>
  <h4>How it works</h4>
  <ol>
    <li>Sign up below to get a unique code</li>
    <li>Go to your predictions page (http://oscars.mantonbradbury.com/player/<em>CODE</em>)</li>
    <li>Pick a winner for each of the 24 categories by the deadline of Midday GMT {{ deadline }}</li>
    <li>Technical awards don't count, only those awarded at the main ceremony</li>
    <li>Each category is worth 2,3 or 4 points depending on number of nominees and 'popularity'</li>
    <li>The player with the most points after all awards have been given out wins</li>
  </ol>
</div>
<div class="columns">
  {{>signup }}
</div>

